<?xml version="1.0" encoding="UTF-8" ?>
<phpunit backupGlobals="false"
		 backupStaticAttributes="false"
		 bootstrap="./autoload.php"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 processIsolation="false"
		 stopOnFailure="false"
		 syntaxCheck="true"
		 strict="true"
		 colors="true">
	<testsuites>
		<testsuite name="Core Test Suite">
			<directory suffix="Test.php">./Zumba/Symbiosis/Test</directory>
		</testsuite>
		<testsuite name="Event Test Suite">
			<directory suffix="Test.php">./Zumba/Symbiosis/Test/Event</directory>
		</testsuite>
		<testsuite name="Plugin Test Suite">
			<directory suffix="Test.php">./Zumba/Symbiosis/Test/Plugin</directory>
		</testsuite>
	</testsuites>
	<filter>
		<blacklist>
			<file>./Zumba/Symbiosis/AutoLoader.php</file>
			<directory>./Zumba/Test</directory>
		</blacklist>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory>./Zumba</directory>
		</whitelist>
	</filter>
</phpunit>