<?xml version="1.0" encoding="UTF-8" ?>
<phpunit backupGlobals="false"
		 backupStaticAttributes="false"
		 bootstrap="./main.php"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 processIsolation="false"
		 stopOnFailure="false"
		 syntaxCheck="true"
		 strict="true"
		 colors="true">
	<testsuites>
		<testsuite name="Event Test Suite">
			<directory suffix="Test.php">./Symbiosis/Test/Event</directory>
		</testsuite>
		<testsuite name="Plugin Test Suite">
			<directory suffix="Test.php">./Symbiosis/Test/Plugin</directory>
		</testsuite>
	</testsuites>
	<filter>
		<blacklist>
			<file>./Symbiosis/AutoLoader.php</file>
		</blacklist>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory>../Symbiosis</directory>
		</whitelist>
	</filter>
</phpunit>